.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  max-width: 200px;
  margin: 0 auto 0 auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.killerContainer h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.killerImageWrapper {
  position: relative;
  height: 250px;
  width: 250px;
}

.perksList {
  list-style: none;
  padding: 0;
  margin: auto;
}

.perkItem {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  text-align: left;
}

.perkImage {
  vertical-align: middle;
  margin-right: 8px;
}

.perkName {
  font-weight: bold;
  text-decoration: none;
  color: #f3f3f3;
}

.perkName:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .controls {
    flex-direction: row;
    max-width: fit-content;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }

  .killerImageWrapper {
    height: 380px;
    width: 380px;
  }

  .perksList {
    width: 370px;
  }
}
